@model IEnumerable<MvcPhones.Models.Phones> 

@{
    ViewData["Title"] = "Phones";

}

<h1>Welcome to Gecko Phones!</h1>
</br>
<div class="container">
  <div class="row">
    
    
    @foreach (var item in Model) 
    {
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayNameFor(model => item.ImageUrl)">
          <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Brand, item.Model)</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayNameFor(model => item.Brand): @Html.DisplayFor(modelItem => item.Brand)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => item.Model): @Html.DisplayFor(modelItem => item.Model)</li>
            <li class="list-group-item">@Html.DisplayNameFor(model => item.Price): € @Html.DisplayFor(modelItem => item.Price)</li>
          </ul>
          <div class="card-body">
            <a class="btn btn-success float-right" asp-action="Details" asp-route-id="@item.Id">
              <i class="bi bi-eye-fill"></i> View Details
            </a>

          </div>
        </div>
      </div>
    }
  </div>
</div>

<div style="position: fixed; right: 25px; bottom: 25px;" class = "text-white">
  <a asp-controller="Phones" asp-action="Create" class="btn btn-success">
  <i class="bi bi-plus-circle"></i> Add New </a>
</div>